@charset "UTF-8";
/**
 * ABC 样式文件
 *
 * 修改/使用说明：
 *
 * vuepress-mdit环境直接用scss，ob这边需要使用css
 * 编辑ABC模块的该文件时，需要手动编译/使用vscode `easy sass` 插件
 */
:root {
  --pre-background-color: #1b1b1b;
}

.app-container .markdown-reading-view .ab-replace {
  margin-bottom: 22px;
}

.app-container .markdown-source-view .ab-replace {
  margin-top: -18px;
  margin-bottom: -18px;
}

/**
 * 替换内容
 * .ab-replace
 *   .ab-note
 *   .ab-button
 */
.ab-replace {
  /*background-color: #272e3a;*/
  position: relative;
  border-radius: 4px;
}

.ab-replace .ab-note {
  position: relative;
  /*padding: 24px 12px 12px 12px;*/
}

.ab-replace .ab-button {
  box-sizing: border-box;
  position: absolute;
  right: 4px;
  top: 4px;
}

.ab-replace img.cm-widgetBuffer {
  height: 2px;
}

.ab-note .ab-note table,
.ab-note .markdown-rendered table {
  min-width: 0;
}

.ab-note table {
  display: table;
  width: 100%;
}

.ab-note table[modeT="true"] tr {
  display: block;
  float: left;
}

.ab-note table[modeT="true"] th, .ab-note table[modeT="true"] td {
  display: block;
}

.ab-note pre.ab-mermaid-raw {
  border: solid 1px;
  border-radius: 6px;
  margin-top: 0;
}

.ab-note .ab-markmap-svg {
  border: solid 1px;
  border-radius: 6px;
  width: 100%;
}

.ab-note .ab-tab-root {
  --ab-tab-root-bg-color: #0d1117;
  --ab-tab-root-bd-color: #34343f;
  --ab-tab-root-tx-color: #9e9e9e;
}

.ab-note .ab-tab-root .ab-tab-nav {
  box-sizing: border-box;
  border: 2px solid var(--ab-tab-root-bd-color);
  background-color: var(--ab-tab-root-bd-color);
  color: var(--ab-tab-root-tx-color);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.ab-note .ab-tab-root .ab-tab-nav .ab-tab-nav-item {
  height: 38px;
  box-shadow: none;
  border: none;
  border-radius: 10px 10px 0 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.9em;
  font-weight: bold;
}

.ab-note .ab-tab-root .ab-tab-nav .ab-tab-nav-item[is_activate="false"] {
  background-color: var(--ab-tab-root-bd-color);
  color: var(--ab-tab-root-tx-color);
}

.ab-note .ab-tab-root .ab-tab-nav .ab-tab-nav-item[is_activate="true"] {
  background-color: var(--ab-tab-root-bg-color);
  color: var(--ab-tab-root-tx-color);
}

.ab-note .ab-tab-root .ab-tab-content {
  border: 2px solid var(--ab-tab-root-bd-color);
  background-color: var(--ab-tab-root-bg-color);
  color: var(--ab-tab-root-tx-color);
  border-top: none;
  padding: 10px 20px;
}

.ab-note td > p:first-child, .ab-note th > p:first-child,
.ab-note td > ul:first-child, .ab-note th > ul:first-child,
.ab-note .ab-list-table-witharrow > p:first-child,
.ab-note .ab-nodes-content > p:first-child,
.ab-note td > div > p:first-child, .ab-note th > div > p:first-child,
.ab-note td > div > ul:first-child, .ab-note th > div > ul:first-child,
.ab-note .ab-list-table-witharrow > div > p:first-child,
.ab-note .ab-nodes-content > div > p:first-child {
  margin-top: 0;
}

.ab-note td > p:last-child, .ab-note th > p:last-child,
.ab-note td > ul:last-child, .ab-note th > ul:last-child,
.ab-note .ab-list-table-witharrow > p:last-child,
.ab-note .ab-nodes-content > p:last-child,
.ab-note td > div > p:last-child, .ab-note th > div > p:last-child,
.ab-note td > div > ul:last-child, .ab-note th > div > ul:last-child,
.ab-note .ab-list-table-witharrow > div > p:last-child,
.ab-note .ab-nodes-content > div > p:last-child {
  margin-bottom: 0;
}

.ab-note table.ab-table {
  border-collapse: collapse;
}

.ab-note table.ab-table td, .ab-note table.ab-table th {
  padding: 2px 5px;
  border: solid #363636 1px;
}

.ab-note table.ab-table tr {
  background: none;
}

.ab-note .ab-branch-table.ab-table-likelist td {
  border: none;
  padding-bottom: 10px;
  vertical-align: top;
  box-sizing: border-box;
}

.ab-note .ab-branch-table.ab-table-likelist td[col_index="0"] {
  padding-right: 8px;
  padding-left: 20px;
  position: relative;
}

.ab-note .ab-branch-table.ab-table-likelist td[col_index="0"]::before {
  position: absolute;
  top: 14px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border: none;
  left: 6px;
  content: '';
  border-radius: 50%;
  background-color: currentColor;
}

.ab-note .ab-branch-table.ab-table-likelist td[col_index="0"]::after {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 5px;
  right: 0;
  border-right: 1px solid currentColor;
  pointer-events: none;
}

.ab-note table.ab-list-table .ab-foldable-tr > td:first-child > div {
  padding-left: 15px;
  position: relative;
}

.ab-note table.ab-list-table .ab-foldable-tr[able_fold="true"] > td:first-child > div::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.ab-note table.ab-list-table .ab-foldable-tr[able_fold="true"][is_fold="true"] > td:first-child > div:first-child::before {
  top: 5px;
  left: 2px;
  border: 6px solid transparent;
  border-left-color: #d9d9d9;
  cursor: pointer;
}

.ab-note table.ab-list-table .ab-foldable-tr[able_fold="true"][is_fold="false"] > td:first-child > div:first-child::before {
  top: 9px;
  left: -1px;
  border: 6px solid transparent;
  border-top-color: #d9d9d9;
  cursor: pointer;
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="0"] > td:first-child {
  padding-left: calc(0*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="1"] > td:first-child {
  padding-left: calc(1*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="2"] > td:first-child {
  padding-left: calc(2*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="3"] > td:first-child {
  padding-left: calc(3*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="4"] > td:first-child {
  padding-left: calc(4*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="5"] > td:first-child {
  padding-left: calc(5*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="6"] > td:first-child {
  padding-left: calc(6*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="7"] > td:first-child {
  padding-left: calc(7*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="8"] > td:first-child {
  padding-left: calc(8*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="9"] > td:first-child {
  padding-left: calc(9*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="10"] > td:first-child {
  padding-left: calc(10*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="11"] > td:first-child {
  padding-left: calc(11*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="12"] > td:first-child {
  padding-left: calc(12*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="13"] > td:first-child {
  padding-left: calc(13*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="14"] > td:first-child {
  padding-left: calc(14*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="15"] > td:first-child {
  padding-left: calc(15*24px);
}

.ab-note table.ab-list-table .ab-foldable-tr[tr_level="16"] > td:first-child {
  padding-left: calc(16*24px);
}

.ab-note table.ab-list-table.ab-listtable-likelist {
  margin-left: 24px;
}

.ab-note table.ab-list-table.ab-listtable-likelist td {
  border: none;
  vertical-align: top;
}

.ab-note table.ab-list-table.ab-listtable-likelist .ab-foldable-tr > td:first-child > .ab-list-table-witharrow {
  padding: 0 !important;
  padding-right: 8px;
  padding-left: 20px;
  position: relative;
}

.ab-note table.ab-list-table.ab-listtable-likelist .ab-foldable-tr > td:first-child > .ab-list-table-witharrow::before {
  border: solid 1px !important;
  background: none !important;
  width: 6px !important;
  height: 6px !important;
  box-sizing: border-box;
  position: absolute;
  top: 12px !important;
  transform: translateY(-50%) !important;
  left: -14px !important;
  content: '';
  border-radius: 50%;
}

.ab-note table.ab-list-table.ab-listtable-likelist .ab-foldable-tr[tr_level="0"] > td:first-child > .ab-list-table-witharrow::before {
  border: 0 !important;
  background-color: currentColor !important;
  width: 6px !important;
  height: 6px !important;
}

.ab-note table.ab-list-table.ab-table-folder .ab-foldable-tr td:first-child {
  white-space: nowrap;
  vertical-align: top;
}

.ab-note table.ab-list-table.ab-table-folder .ab-foldable-tr > td > div {
  display: inline-block;
}

.ab-note table.ab-list-table.ab-table-folder .ab-foldable-tr > td > div.ab-list-table-witharrow {
  padding-left: 6px;
}

.ab-note table.ab-list-table.ab-table-folder .ab-foldable-tr .ab-list-table-svg svg {
  width: 14px;
  height: 14px;
  fill: lightgoldenrodyellow;
}

.ab-note table.ab-list-table.ab-table-folder .ab-foldable-tr td:first-child {
  border: none;
}

.ab-note table.ab-list-table.ab-table-folder .ab-foldable-tr td {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.ab-note table.ab-table-fc td[col_index="0"] {
  white-space: nowrap;
  font-weight: 500;
  vertical-align: top;
}

.ab-note table.ab-table-timeline td {
  border-right: none;
  padding-left: 20px;
}

.ab-note table.ab-table-timeline td[col_index="0"] {
  border: none;
  border-left: none;
  border-right: solid 2px;
  padding-left: 5px;
  padding-right: 20px;
  color: orange;
  position: relative;
}

.ab-note table.ab-table-timeline td[col_index="0"]::after {
  position: absolute;
  top: 1em;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  right: -8px;
  content: '';
  background-color: orange;
  border-radius: 50%;
  border: solid 2px;
}

.ab-note table.ab-table-timeline tr:first-child td {
  border-top: none;
}

.ab-note table.ab-table-timeline tr:last-child td {
  border-bottom: none;
}

.ab-note .markdown-rendered.ab-faq-content p:first-child {
  margin-top: 0;
}

.ab-note .markdown-rendered.ab-faq-content p:last-child {
  margin-bottom: 0;
}

.ab-note .ab-faq .ab-faq-line {
  line-height: 30px;
  width: 100%;
  padding: 0 15px 0 15px;
  clear: both;
  overflow-y: auto;
}

.ab-note .ab-faq .ab-faq-line .ab-faq-bubble {
  float: left;
  width: calc(100% - 75px);
}

.ab-note .ab-faq .ab-faq-line.ab-faq-q,
.ab-note .ab-faq .ab-faq-line.ab-faq-Q {
  background-color: #1e53ee;
  border-radius: 12px 12px 0 0;
}

.ab-note .ab-faq .ab-faq-line.ab-faq-a,
.ab-note .ab-faq .ab-faq-line.ab-faq-A {
  background-color: #f5f8fe;
  border-radius: 0 0 12px 12px;
  color: #a994a6;
  margin-bottom: 20px;
}

.ab-note .ab-faq .ab-faq-line::before {
  float: left;
  width: 24px;
}

.ab-note .ab-faq .ab-faq-line.ab-faq-q::before,
.ab-note .ab-faq .ab-faq-line.ab-faq-Q::before {
  content: "Q";
}

.ab-note .ab-faq .ab-faq-line.ab-faq-a::before,
.ab-note .ab-faq .ab-faq-line.ab-faq-A::before {
  content: "A";
}

.ab-note .ab-deco-fold .ab-deco-fold-button {
  background-color: slateblue;
  height: 30px;
  line-height: 30px;
  padding-left: 6px;
  border-radius: 5px;
  width: 100%;
}

.ab-note .ab-deco-scroll.ab-deco-scroll-y {
  overflow-y: auto;
}

.ab-note .ab-deco-scroll.ab-deco-scroll-x {
  overflow-x: auto;
  white-space: nowrap;
}

.ab-note .ab-deco-overfold {
  overflow-y: hidden;
  position: relative;
}

.ab-note .ab-deco-overfold .ab-deco-overfold-button {
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  box-sizing: content-box;
}

.ab-note .ab-deco-overfold .ab-deco-overfold-content {
  margin-bottom: 40px;
}

.ab-note .ab-deco-overfold[is-fold="true"] .ab-deco-overfold-button {
  padding-top: 60px;
  background-image: linear-gradient(-180deg, rgba(24, 26, 27, 0) 0%, #181a1b 100%);
}

.ab-note .ab-deco-heimu, .ab-note .ab-deco-heimu a {
  background-color: #252525;
  color: #252525;
  text-shadow: none;
}

.ab-note .ab-deco-heimu::selection, .ab-note .ab-deco-heimu a::selection {
  background: #9ab0c0;
  color: #fff;
}

.ab-note .ab-deco-heimu:hover, .ab-note .ab-deco-heimu:hover a {
  transition: color .13s linear;
  color: #fff;
}

.ab-note .ab-deco-title {
  width: 100%;
}

.ab-note .ab-deco-title p {
  font-size: 17px;
  line-height: 17px;
  margin: 0;
  margin-bottom: 10px;
}

.ab-note .ab-deco-title .ab-deco-title-title {
  height: auto;
}

.ab-note .ab-deco-title .ab-deco-title-title[title-type="table"] > p {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.ab-note .ab-deco-title .ab-deco-title-title[title-type="pre"] > p {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--pre-background-color);
  padding: 8px 16px 11px 16px;
  border-radius: 8px 8px 0 0;
  margin: 0;
}

.ab-note .ab-deco-title .ab-deco-title-title[title-type="quote"] > p {
  font-weight: bold;
  margin-bottom: 5px;
}

.ab-note .ab-deco-title .ab-deco-title-title[title-type="ul"] > p {
  font-weight: bold;
}

.ab-note .ab-items {
  --ab-tab-root-bg-color: #0d1117;
  --ab-tab-root-bd-color: #34343f;
  --ab-tab-root-tx-color: #9e9e9e;
}

.ab-note .ab-items.ab-col {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ab-note .ab-items.ab-col .ab-items-item {
  flex: 1 0 calc(33.33% - 1rem);
  box-sizing: border-box;
  padding: 10px;
}

.ab-note .ab-items.ab-card {
  /*display: flex; // Flexbox 布局
      flex-wrap: wrap; // 元素换行显示
      gap: 1rem; // 间隙
      .ab-items-item {
        flex: 1 0 calc(25% - 1rem); // 每个项目的宽度大约为容器的 33.33%，减去间隙的一半
      }*/
  column-count: 4;
  column-gap: 10px;
  /*display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem; // 间隙
      grid-template-rows: masonry; // 兼容有问题，只有火狐支持，还tm的要开选项
      .ab-items-item {
        width: 100%;
        display: block;
      }*/
  /*display: flex;          // Flexbox 布局
      flex-wrap: wrap; // 元素换行显示
      // gap: 1rem;           // 间隙
      flex-direction: column; // 按列填充
      .ab-items-item {
        position: relative;
        width: calc(100% / 4);
        padding: 5px;
        box-sizing: border-box;
        &:nth-child(4n+1){ order: 1; }
        &:nth-child(4n+2){ order: 2; }
        &:nth-child(4n+3){ order: 3; }
        &:nth-child(4n+0){ order: 4; }
      }*/
}

.ab-note .ab-items.ab-card .ab-items-item {
  box-sizing: border-box;
  color: var(--ab-tab-root-tx-color);
  background-color: var(--ab-tab-root-bg-color);
  border: solid 2px var(--ab-tab-root-bd-color);
  box-shadow: #34343f;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.ab-note .ab-items.ab-card .ab-items-item {
  break-inside: avoid-column;
}

.ab-note .ab-items.ab-col1 {
  column-count: 1 !important;
}

.ab-note .ab-items.ab-col2 {
  column-count: 2 !important;
}

.ab-note .ab-items.ab-col3 {
  column-count: 3 !important;
}

.ab-note .ab-items.ab-col4 {
  column-count: 4 !important;
}

.ab-note .ab-items.ab-col5 {
  column-count: 5 !important;
}

.ab-note .ab-items.ab-col6 {
  column-count: 6 !important;
}

.ab-note .ab-items.ab-col7 {
  column-count: 7 !important;
}

.ab-note .ab-items.ab-col8 {
  column-count: 8 !important;
}

.ab-note .ab-nodes .ab-nodes-content {
  display: inline-block;
  background-color: rgba(100, 100, 100, 0.25);
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
}

.ab-note .ab-nodes .ab-nodes-children {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding-left: 0.8em;
  position: relative;
}

.ab-note .ab-nodes .ab-nodes-children .ab-nodes-bracket {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: calc(50% - 4px);
  left: calc(-8px - 2px + 1px);
  clip-path: polygon(100% 0, 100% 100%, 13.4% 50%);
  background-color: currentColor;
}

.ab-note .ab-nodes .ab-nodes-children .ab-nodes-bracket2 {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: -2px;
  border-radius: 10px 0 0 10px;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.ab-note .ab-nodes .ab-nodes-children .ab-nodes-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2em;
}

.ab-note .ab-nodes > .ab-nodes-node > .ab-nodes-bracket {
  display: none;
}

.ab-note .ab-nodes > .ab-nodes-node > .ab-nodes-bracket2 {
  display: none;
}

div.md-table-fig1 {
  overflow-x: scroll;
  transform: scaleY(-1);
}

div.md-table-fig1 table.ab-setting.md-table-fig2 {
  overflow-x: scroll;
  text-overflow: clip !important;
  transform: scaleY(-1);
  white-space: nowrap;
}

.ab-custom-text-red {
  color: red;
}

.ab-custom-text-orange {
  color: orange;
}

.ab-custom-text-yellow {
  color: yellow;
}

.ab-custom-text-green {
  color: green;
}

.ab-custom-text-cyan {
  color: cyan;
}

.ab-custom-text-blue {
  color: blue;
}

.ab-custom-text-purple {
  color: purple;
}

.ab-custom-text-white {
  color: white;
}

.ab-custom-text-black {
  color: black;
}

.ab-custom-bg-red {
  background-color: red;
}

.ab-custom-bg-orange {
  background-color: orange;
}

.ab-custom-bg-yellow {
  background-color: yellow;
}

.ab-custom-bg-green {
  background-color: green;
}

.ab-custom-bg-cyan {
  background-color: cyan;
}

.ab-custom-bg-blue {
  background-color: blue;
}

.ab-custom-bg-purple {
  background-color: purple;
}

.ab-custom-bg-white {
  background-color: white;
}

.ab-custom-bg-black {
  background-color: black;
}

.ab-custom-dire-top {
  vertical-align: top;
}

.ab-custom-dire-down {
  vertical-align: bottom;
}

.ab-custom-dire-left {
  text-align: left;
}

.ab-custom-dire-right {
  text-align: right;
}

.ab-custom-dire-center {
  vertical-align: middle;
  text-align: center;
}

.ab-custom-dire-hcenter {
  text-align: center;
}

.ab-custom-dire-vcenter {
  vertical-align: middle;
}

.ab-custom-dire-justify {
  text-align: justify;
}

.ab-custom-font-large {
  font-size: large;
}

.ab-custom-font-largex {
  font-size: x-large;
}

.ab-custom-font-largexx {
  font-size: xx-large;
}

.ab-custom-font-small {
  font-size: small;
}

.ab-custom-font-smallx {
  font-size: x-small;
}

.ab-custom-font-smallxx {
  font-size: xx-small;
}

.ab-custom-font-bold {
  font-weight: bold;
}
