/**
 * .ab-replace
 *   .ab-note
 *   .ab-button
 */
.ab-replace {
  /*background-color: #272e3a;*/
  position: relative;
  border-radius: 4px;
}

.ab-replace .ab-note {
  position: relative;
  /*padding: 24px 12px 12px 12px;*/
}

.ab-replace .ab-button {
  box-sizing: border-box;
  position: absolute;
  right: 4px;
  top: 4px;
}

.ab-replace img.cm-widgetBuffer {
  height: 2px;
}

.ab-note table[modeT="true"] tr {
  display: block;
  float: left;
}

.ab-note table[modeT="true"] th, .ab-note table[modeT="true"] td {
  display: block;
}

.ab-note .ab-tab-root > ul {
  height: 30px;
  margin-bottom: 6px;
}

.ab-note .ab-tab-root > ul li.ab-tab-tab {
  float: left;
  list-style: none;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  text-align: center;
  border: solid royalblue 1px;
}

.ab-note .ab-tab-root > div {
  clear: both;
}

.ab-note .ab-flodable-tr[is_flod="true"] {
  color: royalblue;
}
