/**
 * .ab-replace
 *   .ab-note
 *   .ab-button
 */
 .ab-replace{
  /*background-color: #272e3a;*/
  position: relative;
  border-radius: 4px;

  .ab-note{
    position: relative;
    /*padding: 24px 12px 12px 12px;*/
  }

  .ab-button{
    box-sizing: border-box;
    position: absolute;
    right: 4px;
    top: 4px;
  }

  img.cm-widgetBuffer{
    height: 2px;
  }
}

.ab-note{
  table[modeT="true"]{  // 表格转置
    tr { display: block; float: left; }
    th, td { display: block; }
  }

  .ab-tab-root{
    >ul {
      height: 30px;;
      margin-bottom: 6px;
    }
    >ul li.ab-tab-tab {
      float: left;
      list-style: none;
      height: 30px;
      // width: 80px;
      line-height: 30px;
      padding: 0 5px;
      text-align: center;
      border: solid royalblue 1px;
    }
    >div {
      clear: both;
    }
  }

  .ab-flodable-tr[is_flod="true"]{
    color: royalblue
  }
}